<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lrdzero.tfg" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.read_external_storage" />
    <uses-permission android:name="android.permission.read_phone_state" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDBeAN_SI7BQrtguPZBz-tKNMbf0MvD9OA" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:label="@string/title_activity_registro" >
        </activity>
        <activity
            android:name=".SeleccionRecorridos"
            android:label="@string/title_activity_seleccion_recorridos" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".RecorridosParaUsuario"
            android:label="@string/title_activity_recorridos_para_usuario" >
        </activity>
        <activity
            android:name=".Listas"
            android:label="@string/title_activity_listas" >
        </activity>
        <activity
            android:name=".ListasConImagen"
            android:label="@string/title_activity_listas_con_imagen" >
        </activity>
        <activity
            android:name=".RetoCultural"
            android:label="RetoCultural" />
        <activity
            android:name=".HistorialUsuario"
            android:label="@string/title_activity_historial_usuario" >
        </activity>
        <activity
            android:name=".RetoDeportivo"
            android:label="@string/title_activity_reto_deportivo" >
        </activity>
        <activity
            android:name=".CronometroDeporte"
            android:label="@string/title_activity_cronometro_deporte" >
        </activity>
        <activity
            android:name=".RecogerPremio"
            android:label="@string/title_activity_recoger_premio">
            <!--android:screenOrientation="landscape"-->
        </activity>
        <activity
            android:name=".MapaEditor"
            android:label="@string/title_activity_mapa" >
        </activity>
        <activity
            android:name=".HerramientaNuevaRuta"
            android:label="@string/title_activity_Herramientas_Autor" >
        </activity>
        <activity
            android:name=".CrearNuevoRecorrido"
            android:label="@string/title_activity_Nuevos_Retos" >
        </activity>
        <activity
            android:name=".CreadorRetoDeportivo"
            android:label="@string/title_activity_creador_reto_deportivo" >
        </activity>
        <activity
            android:name=".Finalruta"
            android:label="@string/title_activity_finalruta" >
        </activity>
        <activity
            android:name=".CreadorRutas"
            android:label="@string/title_activity_creador_rutas" >
        </activity>
        <activity
            android:name=".Seguimiento"
            android:label="@string/title_activity_seguimiento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".marca_retos"
            android:label="@string/title_activity_marca_retos" >
        </activity>
        <activity android:name=".creador_recompensa" >
        </activity>
    </application>

</manifest>
